name: Lint

on:
  # Run on pushes to select branches and on all pull requests.
  push:
#    branches:
#      - master
#      - trunk
#      - 'release/**'
#      - 'hotfix/[0-9]+.[0-9]+*'
#      - 'feature/**'
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Lint against the highest/lowest supported versions of each PHP major.
        # And also do a run against "nightly" (the current dev version of PHP).
        php_version: ['5.6', '7.0', '7.4', '8.0', '8.1', '8.2']

    name: "Lint: PHP ${{ matrix.php_version }}"

    # Allow builds to fail on as-of-yet unreleased PHP versions.
    continue-on-error: ${{ matrix.php_version == '8.1' || matrix.php_version == '8.2' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}
          ini-values: zend.assertions=1, error_reporting=-1, display_errors=On
          coverage: none
          tools: cs2pr

      # Remove packages which aren't needed for the linting and are not PHP cross-version compatible.
      - name: Adjust Composer dependencies
        run: composer remove --dev --no-update --no-scripts humbug/php-scoper atanamo/php-codeshift phpunit/phpunit

      # Install dependencies and handle caching in one go.
      # @link https://github.com/marketplace/actions/install-composer-dependencies
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v1
        with:
          dependency-versions: "highest" # Install highest versions compatible with current PHP version. Forces a composer update.
          composer-options: "--no-scripts"


      - name: Lint against parse errors
        run: composer lint -- --checkstyle | cs2pr
